{% extends 'dashboard/base.html' %}
{% block title %}Update Profile Details{% endblock %}

{% block body %}

<p style="color: red;">
    {{ form.errors }}
</p>

<h1 class="text-center my-4">
    <u>Update Your Profile Details</u>
</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row my-3">
        <div class="col-md-4"></div>
        <div class="col-md-5">
            <h5><b>{{ form.profile_picture.label }} :</b> {{ form.profile_picture }}</h5>
            <h5><b>{{ form.bio.label }} :</b></h5>{{ form.bio }} <br>
            <button type="submit" class="btn btn-outline-success px-4 fs-5">Submit</button>
        </div>
    </div>
</form>

{% endblock %}